@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body { margin: 0; padding: 0; font-family: 'Segoe Ui'; }

.input { width: 136px; padding: 8px; background: #fff; line-height: 16px; border: 1px solid #bbb; }
.btn { overflow: hidden; background: #33aadd; text-align: center; color: #fff; border: 0; line-height: 16px; position: relative; display: inline-block; padding: 8px 16px;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}
.btn:hover { background: #138abd; }

a { color: #33aadd; text-decoration: none; }
a:hover { color: #138abd; }