@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

* { max-width: 100%; }

body { position: fixed; height: 100%; top: 0; left: 0; width: 100%; font-family: 'Segoe UI'; margin: 0; padding: 0; background: #fff;
	-moz-transition: background .4s linear;
	-webkit-transition: background .4s linear;
	transition: background .4s linear; }
header { height: 50px; background: #181818; }
h2 { height: 35px; position: relative; white-space: nowrap; overflow: hidden; display: inline-block; font-weight: normal; font-size: 22px; margin: 0; color: #1286d6; }
#container1  { width: 480px; border-left: 4px solid #1286d6; padding: 8px 16px; margin: 80px }
#userLoginBox { width: 420px; margin: 0 auto; border-radius: 5px; }
#loginForm { overflow: hidden; height: 0; width: 320px; margin: 0 auto; text-align: left;
	-moz-transition: height .4s ease;
	-webkit-transition: height .4s ease;
	transition: height .4s ease; }
#loginForm label { color: #333; }
#loginForm input[type=text], #loginForm input[type=password] { width: 160px; float: right; color: #2274d8; }
#loginForm div { height: 40px; margin-top: 8px; }
#loginBtn { float: right; width: 120px; }
#openAccess, #loginBtn { margin-top: 8px; }

@media all and (max-width: 480px) {
	#container1 { margin-top: 20px; }
	h2 { width: 100%; white-space: normal; }
	h2 span { position: absolute; left: 0; bottom: 0; top: auto; width: 100%; font-size: 28px; }
}