#openDialogueBox { display: none; background: rgba(0, 0, 0, .5); position: fixed; left: 0; top: 0; z-index: 10; width: 100%; height: 100%; }
#openDialogue { margin: 80px auto; background: #fff; max-width: 960px; height: 450px; }

#recentClassDiagrams { height: 370px; }
#recentClassDiagrams article { height: 180px; margin: 5px; width: 180px; background: #333; }

#resizer div { position: absolute; border: 4px solid transparent; background: #2288bb; background-clip: padding-box; }
#resizer .left, #resizer .right { width: 4px; }
#resizer .top, #resizer .bottom { height: 4px; }