@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body { margin: 0; padding: 0; background: #050505; overflow: hidden; }
header { margin-top: 280px; }
header nav { text-align: center; }
header nav li { list-style: none; display: inline-block; margin: 60px; }
header nav a { text-shadow: 1px 1px #686868; color: #d5d5d5; text-decoration: none; font-size: 40px; }
#container1 { z-index: -1; width: 100%; position: fixed; top: 0; left: 0; height: 100%; }
canvas { background: #050505; width: 100%; margin-top: 220px; }