body { background: #fff; }

h1 { color: #33AADD; font: 22px normal; text-align: center; letter-spacing: 4px; position: relative; }

h1:after, h1:before { background-color: #33AADD; content: ""; height: 1px; position: absolute; top: 15px; width: 60px; }
h1:after { right: 0; }
h1:before { left: 0; }

header { posiiton: fixed; left: 0; top: 0; }

#container2 { margin: 120px auto; width: 300px; }

input.input { clear: both; margin: 4px 0; display: inline-block; }
#loginBtn {  }

#login-name, #login-pass { background: transparent; padding-left: 36px; left: 0; position: absolute; width: 300px; color: #666;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }

#login-name:focus, #login-pass:focus { background: #eee; padding-left: 8px; }
#usernameLogo, #pwLogo { color: #aaa; text-align: center; line-height: 40px; width: 34px; height: 34px; display: block; position: relative; }

#loginBtn { float: right; }

#login-name-error {  }

#loginError, #loginSuccess { opacity: 0;
    -moz-transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease; }

#loginError { color: #aa0000; }
#loginSuccess { color: #00aa00; }

footer { height: 120px; background: #333; position: fixed; bottom: 0; width: 100%; }